<ng-container>
  <div class="d-lg-block d-none">
    <mat-tab-group [selectedIndex]="selectedTab">
      <mat-tab label="Invoice Information">
        <div class="row">
    
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="invoice.date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <input matInput placeholder="Subject" [(ngModel)]="invoice.title">
          </mat-form-field>
        </div>
        <div class="row">
          Retrieve amount from bank account <mat-slide-toggle placeholder="Amount" (click)="changeTab()"></mat-slide-toggle>
        </div>
        <div class="row">
          <mat-form-field>
            <input [disabled]="bankPaymentCheck" matInput placeholder="Amount" type="number" [(ngModel)]="invoice.amount"
              class="example-right-align">
            <span matSuffix> Euro</span>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" [disabled]="bankPaymentCheck"
            (click)="addNewPayment()">Done</button>
        </div>
    
      </mat-tab>
      <mat-tab label="Payments">
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
              </div>
              <input type="text" class="example-full-width" name="searchString" placeholder="Search Iban"
                [(ngModel)]="searchString" />
            </div>
          </div>
        </form>
        <div>
          Bank Transfers:
          <div class="divs" *ngFor="let information of bankInformation | bankSearch : 'iban' : searchString; let i = index"
            (click)="informationSelected(information)">
            <mat-grid-list cols="3" rowHeight="50px">
    
              <mat-grid-tile [colspan]="1">
    
                <mat-radio-button value="information.selected"></mat-radio-button>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1">
                {{information.iban}}
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1">
                {{information.amount}} EUR
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="addNewPaymentThroughBank()">Done</button>
        </div>
      </mat-tab>
    </mat-tab-group>
    
  </div>
</ng-container>


<ng-container>
  <div class="d-block d-lg-none">
asd
  </div>

</ng-container>